body{
  margin: 0px;
  text-align: center;
  /* font-family: serif; */
  /* font-family: verdana, sans-serif; */
  /* font-family: fantasy; */
  /* font-family: cursive; */
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: 'Merriweather', serif;
  /* font-size: 2em; */
  font-size: 200%;
  color: #40514E;
}
/* this is the parent of h1 then if we do fontsize:2em and h1 to ontsize:5.625 then i'll
be inherited and do a larg fontsize means it's add 2+5.625em
this will be also possible in % ses  */
/* but in static sizes like fontsize in px it'll not add that is the difference between
dynamic and static font sizes */

.My-img{
  width: 15%;
}
h1{
  /* font-size: 90px; */
  /* font-size: 562.5%; */
   /* font-size: 5.625em; */
  /*and line 13 both are almost same. */
  /* 100% means 16px; and if we want 90px then we have to do 90/16 and that is 5.625 */
  /* and 1em = 100% = 16px this is called dynamic sizing */
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  /* width: 10%;
  margin: 0 auto; */
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  /* line-height: 2; */
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 0.7em;
}

hr{
  /* border: dotted; */
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  /* background-color: red;
  width: 200px;
  height: 200px; */
  margin: 100px 0;
}

.bottom-container{
  /* background-color: blue;
  width: 200px;
  height: 200px; */
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro{
  text-decoration: underline;
  color: #66BFBF;
  font-weight: normal;
  /* line-height: 2em; */
  }

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.clang-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cpplang-img{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.code-skill{
  font-size: 50%;
  /* clear: left; */
  line-height: 2;
}
.intro{
  font-size: 50%;
  width: 30%;
  margin: auto;
  line-height: 2;
}
.meet{
  font-size: 50%;
  line-height: 2;
  width: 30%;
  margin: 40px auto 60px;
}
.footer-link{
  font-size: 60%;
  /* line-height: 2; */
}
.Name{
  font-size: 40%;
  /* line-height: 2; */
  color: #EAF6F6;
  padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  /* font-family: Arial; */
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
